spring:
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: true
    defer-datasource-initialization: true
  h2:
    console:
      enabled: true
      path: /h2-console

  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:core;MODE=MySQL;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    pool-name: moa-db-pool

  sql:
    init:
      mode: always
      data-locations: classpath:data-local.sql

jwt:
  secret-key: ${jwt.local.access.secret-key}
  expiration-milliseconds: ${jwt.local.access.expiration}

oidc:
  kakao:
    jwks-uri: ${oauth.kakao.jwks-uri}
    issuer: ${oauth.kakao.issuer}
    audience: ${oauth.kakao.audience}
    cache-ttl-seconds: ${oauth.cache-ttl-seconds}
